@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper VaultAdmins()
{
    @Html.Action("VaultList", "Vault")
}

@helper Users()
{
    @Html.Action("UserVaults")
    @Html.Action("AllVaults")
}

<div class="panel panel-primary well">
    <div class="panel-heading">
        <div class="form">
            @Html.Action("ViewCredentials")
        </div>
    </div>
    <div class="panel-body">
        <div class="panel panel-info">
            @if (HttpContext.Current.User.IsInRole("VaultAdmins"))
            {
                @VaultAdmins();
            }
            @if (HttpContext.Current.User.IsInRole("Users"))
            {
                @Users();
            }
        </div>
    </div>
</div>



