@model IEnumerable<VaultDAL.Models.UserVault>
<div class="panel-body">
    <table class="table table-striped">
        <tr>
            <th>Name</th><th>Description</th><th>Open hours</th><th>Owner</th>
        </tr>
        @if (Model.Count() != 0)
        {
            foreach (var vault in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@vault.Name,"Items","VaultItem", new {id = vault.Id, returnUrl = Request?.Url?.PathAndQuery}, null)</td>
                    <td>@vault.Description</td>
                    <td>
                        @vault.OpenTime:00 - @vault.CloseTime:00
                    </td>
                    <td>
                        @vault.VaultAdmin.UserName
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">No available vaults</td>
            </tr>
        }
    </table>
</div>
