@model VaultDAL.Models.UserVault

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_VaultLayout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">New vault</div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x=>x.VaultAdmin)
        @Html.ValidationSummary(true)
        <div class="panel-body">
            @Html.ValidationMessageFor(x => x.Name)
            <div class="form-group">
                <label>Name:</label>
                @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Description:</label>
                @Html.TextAreaFor(x => x.Description, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Opened hours:</label>
                @Html.TextBox("OpenTime", new {Value = DateTime.Today.Date.ToShortTimeString()}, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Closed hours</label>
                @Html.TextBox("CloseTime", new {Value = DateTime.Today.Date.ToShortTimeString()}, new {@class = "form-control"})
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" class="btn btn-success" value="Save"/>
            @Html.ActionLink("Cancel", "Index", "Home",null, new {@class = "btn btn-default"})
        </div>
    }
</div>
@section calendarScripts
{
    <script type="text/javascript">
        $(function() {
            $('#OpenTime').datetimepicker({
                locale: 'ru',
                format: 'H'
            });
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $('#CloseTime').datetimepicker({
                locale: 'ru',
                format: 'H'
            });
        });
    </script>
}