@model Vault.Models.EditUsersModel

@{
    ViewBag.Title = "Edit rights";
    Layout = "~/Views/Shared/_VaultLayout.cshtml";
}
   <div class="panel panel-primary">
    <div class="panel-heading">Managing access rights of current users in the vault</div>
       <div class="panel-body">
               @using (Html.BeginForm())
               {
                   <input type="hidden" name="VaultId" value="@Model.Id" />
                   <div class="panel panel-primary">
                       <div class="panel-heading">Grant full access</div>
                       <div class="panel-body">
                           <table class="table table-striped">
                               <tr>
                                   <td></td>
                                   <td>Name</td>
                               </tr>
                               @Html.Partial("AllowReadPartial", Model)
                           </table>
                       </div>
                   </div>

                   <div class="panel panel-primary">
                       <div class="panel-heading">Grant read access</div>
                       <div class="panel-body">
                           <table class="table table-striped">
                               <tr>
                                   <td></td>
                                   <td>Name</td>
                               </tr>
                               @Html.Partial("AllowCreatePartial", Model)
                           </table>
                       </div>
                   </div>
                   <p><input type="submit" value="Change permissions" class="btn btn-success btn-sm" /> @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default btn-sm" })</p>
                   }
       </div>
</div> 

@Html.Action("AddUsers", new { id = Model.Id })
@Html.Action("VaultUsers", "Vault", new { id = Model.Id })
