@model Vault.Models.CreateVaultItemModel
@{
    ViewBag.Title = "AddItem";
    Layout = "~/Views/Shared/_VaultLayout.cshtml";
}
<div class="panel panel-primary well">
    <div class="panel-heading">Add vault item</div>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x=>x.VaultId)
        <div class="panel-body">
            @Html.ValidationMessageFor(x => x.Name)
            <div class="form-group">
                <label>Name</label>
                @Html.TextBoxFor(x => x.Name, new {@class = "form-control", placeholder = "Vault item name"})
            </div>
            @Html.ValidationMessageFor(x => x.Content)
            <div class="form-group">
                <label>Content</label>
                @Html.TextAreaFor(x => x.Content, new {@class = "form-control"})
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Create" class="btn btn-success"/>
            @Html.ActionLink("Cancel","Items", new {id = Model.VaultId}, new {@class="btn btn-default"})
        </div>
    }
</div>


