<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/bootstrap/css", "~/bundles/sitestyles/css")
</head>
<body>
<div class="homeContainer">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-danger">@TempData["message"]</div>
    }
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success">@TempData["success"]</div>
    }
    @RenderBody()
</div>

</body>
</html>