<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/datetimepicker/css", "~/bundles/sitestyles/css")

    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
<div class="container">
    @RenderSection("calendarScripts", false)
    @if (TempData["message"] != null)
    {
        <div class="alert alert-danger">@TempData["message"]</div>
    }
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success">@TempData["success"]</div>
    }
    @RenderBody()
</div>
</body>
</html>
