<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/datetimepicker/css", "~/bundles/sitestyles/css")
</head>
<body>
<div class="container">
    @RenderSection("calendarScripts", false)
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success" id="message">@TempData["message"]</div>
    }
    @RenderBody()
</div>

<script src="~/Scripts/jquery-2.2.3.js"></script>
@Scripts.Render("~/bundles/datetime-without-jquery", "~/bundles/validation-without-jquery", "~/bundles/jquery-ajax-without-jquery")
<script type="text/javascript">
    $(function() {
        $('#OpenTime').datetimepicker({
            locale: 'ru',
            format: 'H'
        });
    });
</script>
<script type="text/javascript">
    $(function() {
        $('#CloseTime').datetimepicker({
            locale: 'ru',
            format: 'H'
        });
    });
</script>
<script type="text/javascript">
    function onButtonClick(id) {
        $('#' + id).addClass("btn btn-primary").siblings().removeClass("btn-primary");
        return false;
    }
</script>
</body>
</html>
